#timer {
    content: attr(data-tooltip);
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 100%);
    background-color: #242424;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    /* white-space: nowrap; */
    opacity: 0;
    transition: transform 1.8s ease, opacity 1.8s ease;
}

#timer.show {
    transform: translate(-50%, 0);
    opacity: 1;
}

#background_bar {
  position: fixed;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  height: 20px;
  background-color: #242424;
  border-radius: 10px;
  cursor: pointer;
  /* padding: 8px; */
}

#progress_bar {
  width: 0%;
  height: 100%;
  background-color: #97ef00;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

#background_bar:hover {
  box-shadow: 0 0 10px #97ef00;
  filter: blur(1px);
}

.glowing-multi-colors {
  inset: 0;
  background: linear-gradient(90deg, #fb0094, #0000ff, #00ff00, #ffff00);
  /* background: linear-gradient(
    90deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #fb0094
  ); */
  animation: glowing-multi-colors 20s linear infinite;
  background-size: 500%;
  filter: blur(5px);
}

@keyframes glowing-multi-colors {
  0% {
    background-position: 0 0;
  }
  0% {
    background-position: 500% 0;
  }
}

/* TODO Fix stripe */
.stripe {
  background: linear-gradient(
    20deg,
    rgba(255, 255, 255, 0.5) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.5) 75%,
    transparent 75%,
    transparent
  );
  background-size: 400px;
  animation: stripe 0.5s linear infinite;
}

@keyframes stripe {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 400px;
  }
}
